@import 'tailwindcss';
@plugin "tailwindcss-animate";

@theme {
	--font-logo: 'Source Sans Pro', 'sans-serif';

	--color-background: hsl(255, 17%, 14%);
	--color-background-alt-1: hsl(255, 17%, 17%);
	--color-background-alt-2: hsl(255, 17%, 20%);
	--color-background-alt-3: hsl(254, 17%, 25%);
	--color-background-alt-4: hsl(254, 17%, 30%);
	--color-background-alt-5: hsl(254, 17%, 33%);
	--color-background-alt-6: hsl(254, 17%, 37%);
	--color-background-primary: hsl(67, 60%, 50%);
	--color-background-primary-alt-1: hsl(67, 60%, 40%);
	--color-background-success: hsl(159, 75%, 30%);
	--color-background-error: hsl(5, 100%, 21%);
	--color-background-error-alt-1: hsl(5, 100%, 25%);

	--color-foreground: hsl(360, 0%, 90%);
	--color-foreground-alt-1: hsl(360, 0%, 80%);
	--color-foreground-alt-2: hsl(249, 6%, 52%);
	--color-foreground-alt-3: hsl(240, 2%, 21%);
	--color-foreground-error: hsl(5, 100%, 45%);
	--color-foreground-error-alt-1: hsl(5, 100%, 35%);

	--height-header: 4.5rem;

	--animate-flash: flash 1.5s infinite ease-in-out;

	@keyframes flash {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
}

@layer components {
	:is(a, button, input, textarea, summary) {
		@apply outline-none;
		@apply focus-visible:ring-1 focus-visible:ring-blue-400;
	}
}

@layer utilities {
	.container-px {
		@apply px-6 lg:px-8;
	}

	.container-pl {
		@apply pl-6 lg:pl-8;
	}

	.container-pr {
		@apply pr-6 lg:pr-8;
	}
}
